/* You can add global styles to this file, and also import other style files */
.individualList {
  background-color: #f2f2f2;
  text-align: center;
}

.individualList:hover {
  background-color: #e6e6e6;
  text-align: center;
  cursor: pointer;
}

.customMarginSubtitle{
  margin: 20px 0;
}

.noBullets {
  list-style-type: none;
}
